{% extends 'learning_logs/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a plant to your wishlist</title>
</head>
<body>
    {% block content %}
    <h1>Add a new plant</h1>

    <form action="{% url 'wishlist:new_plant' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Add Plant</button>
    </form>
    {% endblock content %}
</body>
</html>