{% extends 'learning_logs/base.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    {% block content %}

    <h1>Wishlist</h1>
    <a href="{% url 'wishlist:new_plant' %}">Add a new plant</a>

    <p>Wanted</p>
    <section class="wishlist__container">
        {% for plant in wanted_plants %}
            <article class="wishlist__item">
                <p>{{ plant.name }}</p>
                <div class="wishlist__item-image-container">
                    <img src="{{ plant.image_link }}" alt="img" class="wishlist__item-image">
                </div>
                <p>{{ plant.notes }}</p>
                <a href="{% url 'wishlist:edit_plant' plant.id %}">Edit</a>
            </article>
        {% empty %}
            <p>No plants added yet.</p>
        {% endfor %}
    </section>

    <p>Bought</p>
    <section class="wishlist__container">
        {% for plant in purchased_plants %}
            <article class="wishlist__item">
                <p>{{ plant.name }}</p>
                <div class="wishlist__item-image-container">
                    <img src="{{ plant.image_link }}" alt="img">
                </div>
                <p>{{ plant.notes }}</p>
                <a href="{% url 'wishlist:edit_plant' plant.id %}">Edit</a>
            </article>
        {% empty %}
            <p>No plants bought yet.</p>
        {% endfor %}
    </section>

    {% endblock content %}
</body>
</html>


