{% extends 'learning_logs/base.html' %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist</title>
</head>
<body>
    {% block content %}

    <h1>Wishlist</h1>
    <a href="{% url 'wishlist:new_plant' %}">Add a new plant</a>

    <p>Wanted</p>
    <ul>
        {% for plant in wanted_plants %}
            <li>
                <p>{{ plant.name }}</p>
                <img src="{{ plant.image_link }}" alt="img">
                <p>{{ plant.notes }}</p>
                <a href="{% url 'wishlist:edit_plant' plant.id %}">Edit</a>
            </li>
        {% empty %}
            <li>No plants added yet.</li>
        {% endfor %}
    </ul>

    <p>Bought</p>
    <ul>
        {% for plant in purchased_plants %}
            <li>
                <p>{{ plant.name }}</p>
                <img src="{{ plant.image_link }}" alt="img">
                <p>{{ plant.notes }}</p>
                <a href="{% url 'wishlist:edit_plant' plant.id %}">Edit</a>
            </li>
        {% empty %}
            <li>No plants bought yet.</li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>


